#### Data Types and Structures Questions

1. What are data structures, and why are they important?
  
ANS:-Data structures organize and store data efficiently; they are important for improving code performance and enabling faster data access.



2. Explain the difference between mutable and immutable data types with examples.

ANS:-Mutable types (like lists) can be changed after creation; immutable types (like tuples and strings) cannot.



3. What are the main differences between lists and tuples in Python?

ANS:-Lists are mutable and use square brackets []; tuples are immutable and use parentheses ().



4. Describe how dictionaries store data.

ANS:-Dictionaries store data as key-value pairs using a hash table for fast lookup.



5. Why might you use a set instead of a list in Python?

ANS:-Sets automatically remove duplicates and allow fast membership testing.



6. What is a string in Python, and how is it different from a list?

ANS:-A string is an immutable sequence of characters, while a list is a mutable sequence that can hold various data types.



7. How do tuples ensure data integrity in Python?

ANS:-Tuples are immutable, which means their data can't be changed, ensuring consistency.



8. How do tuples ensure data integrity in Python?

ANS:-Tuples are immutable, which means their data can't be changed, ensuring consistency.



9. Can lists contain different data types in Python?

ANS:-Yes, lists can hold elements of mixed data types like integers, strings, and even other lists.



10. Explain why strings are immutable in Python.

ANS:-Strings are immutable to ensure memory efficiency and security, especially during string sharing and hashing.



11. What advantages do dictionaries offer over lists for certain tasks?

ANS:-Dictionaries allow fast, direct access to values using keys, which is more efficient than searching in lists.



12. Describe a scenario where using a tuple would be preferable over a list.

ANS:-Use a tuple to store fixed data like coordinates (x, y) that shouldn't be modified.



13. How do sets handle duplicate values in Python?

ANS:-Sets automatically eliminate duplicate entries, keeping only unique elements.



14. How does the “in” keyword work differently for lists and dictionaries?

ANS:-In lists, it checks for values; in dictionaries, it checks for keys.



15. Can you modify the elements of a tuple? Explain why or why not.

ANS:-No, tuples are immutable, so their contents cannot be changed after creation.



16. What is a nested dictionary, and give an example of its use case.

ANS:-A nested dictionary contains other dictionaries as values, useful for storing hierarchical data like user profiles.



17. Describe the time complexity of accessing elements in a dictionary.

ANS:-Dictionary access has average time complexity of O(1) due to hashing.



18. In what situations are lists preferred over dictionaries?

ANS:-Lists are better for ordered data and when only values (not key-value pairs) need to be stored.



19. Why are dictionaries considered unordered, and how does that affect data retrieval?

ANS:-Dictionaries were unordered before Python 3.7; now they preserve insertion order, but access is still by key, not position.



20. Explain the difference between a list and a dictionary in terms of data retrieval.

ANS:-Lists use numeric indices to retrieve items; dictionaries use unique keys.

####  Practical Questions

In [1]:
#1. Write a code to create a string with your name and print it.
name="Prince"
name

'Prince'

In [2]:
#2. Write a code to find the length of the string "Hello World".
S="Hello World"
len(S)

11

In [6]:
#3.  Write a code to slice the first 3 characters from the string "Python Programming".
S1="Python Programming"
S1[3:]

'hon Programming'

In [7]:
#4. Write a code to convert the string "hello" to uppercase.
S2="hello"
S2.upper()

'HELLO'

In [8]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
S3="I like apple"
S3.replace("apple","orange")

'I like orange'

In [9]:
#6.  Write a code to create a list with numbers 1 to 5 and print it.
L1=[1,2,3,4,5]
print(L1)

[1, 2, 3, 4, 5]

In [7]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
L2=[1,2,3,4]
L2.append(10)
L2

[1, 2, 3, 4, 10]

In [6]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
L3=[1,2,3,4,5]
L3.remove(3)
L3

[1, 2, 4, 5]

In [8]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
l=["a","b","c","d"]
l[1]

'b'

In [10]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
l1=[10,20,30,40,50]
l1[::-1]

[50, 40, 30, 20, 10]

In [11]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
T=(100,200,300)
print(T)

(100, 200, 300)

In [12]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
T1=("red","green","blue","yello")
T1[-2] #you can access it but you cannot change elements in a tuple because tuples are immutable in Python.

'blue'

In [13]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
T2=(10,20,5,15)
min(T2)

5

In [16]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
Animals=("dog","cat","rabbit")
Animals.index("cat")

1

In [21]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits_in_fridge=("apple","kiwi","mango")
if "kiwi" in fruits_in_fridge:
    print("it is in the fridge")
else:
    print("its not in the fridge")

it is in the fridge

In [22]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set={"a","b","c"}
print(set)

{'b', 'a', 'c'}

In [26]:
#17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s1={1,2,3,4}
s1.clear()
s1

set()

In [28]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s2={1,2,3,4}
s2.remove(4)
s2

{1, 2, 3}

In [29]:
#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [30]:
#20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set3={1,2,3}
set4={2,3,4}
set3.intersection(set4)

{2, 3}

In [31]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict_={"name":"Prince","age":21,"city":"ahmedabad"}
print(dict_)

{'name': 'Prince', 'age': 21, 'city': 'ahmedabad'}

In [37]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dictionary={"name":"john","age":25}
dictionary["country"]= ("USA")
print(dictionary)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [40]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d1={"name":"Alice","age":30}
d1["name"]

'Alice'

In [43]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d2={"name":"Bob","age":22,"city":"New York"}
d2.pop("age")
d2

{'name': 'Bob', 'city': 'New York'}

In [44]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d3={"name":"Alice","city":"paris"}
if "city" in d3:
    print("it is in d3")
else:
    print("it is not in d3")

it is in d3

In [47]:
#26.  Write a code to create a list, a tuple, and a dictionary, and print them all.
list=[1,3,4]
tuple=("prince","ajay","rahul")
dictionary={"name":"prince","age":21,"city":"ahmedabad"}

print("list:",list)
print("tuple:",tuple)
print("dictionary:",dictionary)

list: [1, 3, 4]
tuple: ('prince', 'ajay', 'rahul')
dictionary: {'name': 'prince', 'age': 21, 'city': 'ahmedabad'}

In [48]:
#27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()
print("Sorted list:", numbers)

Sorted list: [46, 60, 64, 76, 89]

In [49]:
#28.  Write a code to create a list with strings and print the element at the third index.
fruits=["apple","strawberry","watermelon","mango","kiwi"]
fruits[3]

'mango'

In [50]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1={"name":"Prince","age":21}
dict2={"country":"India","city":"Ahmedabad"}
dict={**dict1,**dict2}
print(dict)

{'name': 'Prince', 'age': 21, 'country': 'India', 'city': 'Ahmedabad'}

In [2]:
#30.Write a code to convert a list of strings into a set.
fruits=["mango","banana","guava","watermelon"]
set=set(fruits)
print(set)

{'mango', 'banana', 'watermelon', 'guava'}